In [47]:
import pandas as pd
athlete_bio=pd.read_csv('files/Olympic_Athlete_Bio.csv')
athletes=pd.read_csv('files/Olympic_Athlete_Event_Results.csv')
country=pd.read_csv('files/Olympics_Games.csv')
olympics_medals=pd.read_csv('files/Olympic_Games_Medal_Tally.csv')
athletes
#looking at the data, we can see that the data is not clean, we have to clean it up

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,NaN,False
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,NaN,False
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,NaN,False
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,NaN,False
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
316829,2022 Winter Olympics,62,NED,Bobsleigh,"Monobob, Women",19019671,Karlien Sleper,148662,16,NaN,False
316830,2022 Winter Olympics,62,SVK,Bobsleigh,"Monobob, Women",19019671,Viktória Čerňanská,138683,17,NaN,False
316831,2022 Winter Olympics,62,KOR,Bobsleigh,"Monobob, Women",19019671,Kim Yu-Ran,137542,18,NaN,False
316832,2022 Winter Olympics,62,JAM,Bobsleigh,"Monobob, Women",19019671,Jazmine Fenlator-Victorian,128682,19,NaN,False
316833,2022 Winter Olympics,62,UKR,Bobsleigh,"Monobob, Women",19019671,Lidiya Hunko,149047,20,NaN,False

In [4]:
athlete_bio

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
0,65649,Ivanka Bonova,Female,4 April 1949,166.0,55,Bulgaria,BUL,Personal Best: 400 – 53.54 (1980).,NaN
1,112510,Nataliya Uryadova,Female,15 March 1977,184.0,70,Russian Federation,RUS,NaN,Listed in Olympians Who Won a Medal at the Eur...
2,114973,Essa Ismail Rashed,Male,14 December 1986,165.0,55,Qatar,QAT,Personal Best: 10000 – 27:20.97 (2006).,Listed in Olympians Who Won a Medal at the Asi...
3,30359,Péter Boros,Male,12 January 1908,NaN,NaN,Hungary,HUN,"Between 1927 and 1938, Péter Boros competed as...",NaN
4,50557,Rudolf Piowatý,Male,28 April 1900,NaN,NaN,Czechoslovakia,TCH,Rudolf Piowaty joined the Czechoslovak militar...,NaN
...,...,...,...,...,...,...,...,...,...,...
155856,23748,Todd Makler,Male,8 January 1946,183.0,75,United States,USA,"Todd Makler grew up in suburban Philadelphia, ...","Brother of Brooke Makler Son of Paul Makler, Sr."
155857,58581,Géza Hollósi,Male,2 May 1938,175.0,79,Hungary,HUN,Géza Hollósi had the following finishes at maj...,NaN
155858,30387,József Keresztessy,Male,19 September 1885,NaN,NaN,Hungary,HUN,József Keresztessy was the grandson of József ...,NaN
155859,69900,Alexander Thieme,Male,13 January 1954,187.0,84,East Germany,GDR,East German Sprinter Alexander Thieme reached ...,Listed in Olympians Who Won a Medal at the Eur...
155860,74003,Sunday Bada,Male,22 June 1969,188.0,79,Nigeria,NGR,Sunday Bada was a top Nigerian one-lap runner ...,Listed in Olympians Who Won a Medal at the Wor...

In [8]:
#looking for null values in the data

athlete_id            0
name                  0
sex                   0
born               4053
height            50749
weight            50749
country               0
country_noc           0
description      100998
special_notes     95224
dtype: int64

In [35]:
hosting=country.loc[country['year']>1990].sort_values('year',ascending=True).reset_index(drop=True)
hosting

,edition,edition_id,edition_url,year,city,country_flag_url,country_noc,start_date,end_date,competition_date,isHeld
0,1992 Summer Olympics,23,/editions/23,1992,Barcelona,https://olympedia-flags.s3.eu-central-1.amazon...,ESP,25 July,9 August,24 July – 9 August,NaN
1,1992 Winter Olympics,44,/editions/44,1992,Albertville,https://olympedia-flags.s3.eu-central-1.amazon...,FRA,8 February,23 February,8 – 23 February,NaN
2,1994 Winter Olympics,45,/editions/45,1994,Lillehammer,https://olympedia-flags.s3.eu-central-1.amazon...,NOR,12 February,27 February,12 – 27 February,NaN
3,1996 Summer Olympics,24,/editions/24,1996,Atlanta,https://olympedia-flags.s3.eu-central-1.amazon...,USA,19 July,4 August,20 July – 4 August,NaN
4,1998 Winter Olympics,46,/editions/46,1998,Nagano,https://olympedia-flags.s3.eu-central-1.amazon...,JPN,7 February,22 February,7 – 22 February,NaN
5,2000 Summer Olympics,25,/editions/25,2000,Sydney,https://olympedia-flags.s3.eu-central-1.amazon...,AUS,15 September,1 October,13 September – 1 October,NaN
6,2002 Winter Olympics,47,/editions/47,2002,Salt Lake City,https://olympedia-flags.s3.eu-central-1.amazon...,USA,8 February,24 February,9 – 24 February,NaN
7,2004 Summer Olympics,26,/editions/26,2004,Athina,https://olympedia-flags.s3.eu-central-1.amazon...,GRE,13 August,29 August,11 – 29 August,NaN
8,2006 Winter Olympics,49,/editions/49,2006,Torino,https://olympedia-flags.s3.eu-central-1.amazon...,ITA,10 February,26 February,11 – 26 February,NaN
9,2008 Summer Olympics,53,/editions/53,2008,Beijing,https://olympedia-flags.s3.eu-central-1.amazon...,CHN,8 August,24 August,6 – 24 August,NaN
10,2010 Winter Olympics,57,/editions/57,2010,Vancouver,https://olympedia-flags.s3.eu-central-1.amazon...,CAN,12 February,28 February,12 – 28 February,NaN
11,2012 Summer Olympics,54,/editions/54,2012,London,https://olympedia-flags.s3.eu-central-1.amazon...,GBR,27 July,12 August,25 July – 12 August,NaN
12,2014 Winter Olympics,58,/editions/58,2014,Sochi,https://olympedia-flags.s3.eu-central-1.amazon...,RUS,7 February,23 February,6 – 23 February,NaN
13,2016 Summer Olympics,59,/editions/59,2016,Rio de Janeiro,https://olympedia-flags.s3.eu-central-1.amazon...,BRA,5 August,21 August,3 – 21 August,NaN
14,2018 Winter Olympics,60,/editions/60,2018,PyeongChang,https://olympedia-flags.s3.eu-central-1.amazon...,KOR,9 February,25 February,8 – 25 February,NaN
15,2020 Summer Olympics,61,/editions/61,2020,Tokyo,https://olympedia-flags.s3.eu-central-1.amazon...,JPN,23 July 2021,8 August 2021,21 July – 8 August 2021,NaN
16,2022 Winter Olympics,62,/editions/62,2022,Beijing,https://olympedia-flags.s3.eu-central-1.amazon...,CHN,4 February,20 February,2 – 20 February,NaN
17,2024 Summer Olympics,63,/editions/63,2024,Paris,https://olympedia-flags.s3.eu-central-1.amazon...,FRA,NaN,NaN,—,NaN
18,2026 Winter Olympics,72,/editions/72,2026,Milano-Cortina d'Ampezzo,https://olympedia-flags.s3.eu-central-1.amazon...,ITA,6 February,22 February,4 – 22 February,NaN
19,2028 Summer Olympics,64,/editions/64,2028,Los Angeles,https://olympedia-flags.s3.eu-central-1.amazon...,USA,NaN,NaN,—,NaN
20,2032 Summer Olympics,372,/editions/372,2032,Brisbane,https://olympedia-flags.s3.eu-central-1.amazon...,AUS,NaN,NaN,—,NaN

In [27]:
olympics_medals

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
1293,2020 Summer Olympics,61,2020,Ukraine,UKR,1,6,12,19
1294,2020 Summer Olympics,61,2020,Belarus,BLR,1,3,3,7
1295,2020 Summer Olympics,61,2020,Romania,ROU,1,3,0,4
1296,2020 Summer Olympics,61,2020,Venezuela,VEN,1,3,0,4
1297,2020 Summer Olympics,61,2020,India,IND,1,2,4,7
1298,2020 Summer Olympics,61,2020,"Hong Kong, China",HKG,1,2,3,6
1299,2020 Summer Olympics,61,2020,Philippines,PHI,1,2,1,4
1300,2020 Summer Olympics,61,2020,Slovakia,SVK,1,2,1,4
1285,2020 Summer Olympics,61,2020,Greece,GRE,2,1,1,4
1301,2020 Summer Olympics,61,2020,South Africa,RSA,1,2,0,3
1302,2020 Summer Olympics,61,2020,Austria,AUT,1,1,5,7
1303,2020 Summer Olympics,61,2020,Egypt,EGY,1,1,4,6
1304,2020 Summer Olympics,61,2020,Indonesia,INA,1,1,3,5
1305,2020 Summer Olympics,61,2020,Ethiopia,ETH,1,1,2,4
1306,2020 Summer Olympics,61,2020,Portugal,POR,1,1,2,4
1307,2020 Summer Olympics,61,2020,Tunisia,TUN,1,1,0,2
1308,2020 Summer Olympics,61,2020,Estonia,EST,1,0,1,2
1284,2020 Summer Olympics,61,2020,Türkiye,TUR,2,2,9,13
1283,2020 Summer Olympics,61,2020,Chinese Taipei,TPE,2,4,6,12
1282,2020 Summer Olympics,61,2020,Georgia,GEO,2,5,1,8
1281,2020 Summer Olympics,61,2020,Uzbekistan,UZB,3,0,2,5
1781,2022 Winter Olympics,62,2022,Poland,POL,0,0,1,1
1780,2022 Winter Olympics,62,2022,Latvia,LAT,0,0,1,1
1777,2022 Winter Olympics,62,2022,Spain,ESP,0,1,0,1
1778,2022 Winter Olympics,62,2022,Ukraine,UKR,0,1,0,1
1753,2022 Winter Olympics,62,2022,Norway,NOR,16,8,13,37
1754,2022 Winter Olympics,62,2022,Germany,GER,12,10,5,27
1755,2022 Winter Olympics,62,2022,People's Republic of China,CHN,9,4,2,15
1756,2022 Winter Olympics,62,2022,United States,USA,8,10,7,25
1757,2022 Winter Olympics,62,2022,Sweden,SWE,8,5,5,18
1758,2022 Winter Olympics,62,2022,Netherlands,NED,8,5,4,17
1759,2022 Winter Olympics,62,2022,Austria,AUT,7,7,4,18
1760,2022 Winter Olympics,62,2022,Switzerland,SUI,7,2,6,15
1762,2022 Winter Olympics,62,2022,France,FRA,5,7,2,14
1763,2022 Winter Olympics,62,2022,Canada,CAN,4,8,14,26
1764,2022 Winter Olympics,62,2022,Japan,JPN,3,6,9,18
1765,2022 Winter Olympics,62,2022,Italy,ITA,2,7,8,17
1766,2022 Winter Olympics,62,2022,Republic of Korea,KOR,2,5,2,9
1767,2022 Winter Olympics,62,2022,Slovenia,SLO,2,3,2,7
1768,2022 Winter Olympics,62,2022,Finland,FIN,2,2,4,8
1769,2022 Winter Olympics,62,2022,New Zealand,NZL,2,1,0,3
1770,2022 Winter Olympics,62,2022,Australia,AUS,1,2,1,4
1771,2022 Winter Olympics,62,2022,Great Britain,GBR,1,1,0,2
1772,2022 Winter Olympics,62,2022,Hungary,HUN,1,0,2,3
1773,2022 Winter Olympics,62,2022,Belgium,BEL,1,0,1,2
1774,2022 Winter Olympics,62,2022,Czechia,CZE,1,0,1,2
1775,2022 Winter Olympics,62,2022,Slovakia,SVK,1,0,1,2
1776,2022 Winter Olympics,62,2022,Belarus,BLR,0,2,0,2
1779,2022 Winter Olympics,62,2022,Estonia,EST,0,0,1,1
1761,2022 Winter Olympics,62,2022,ROC,ROC,6,12,14,32

In [67]:
#figuring out the average number of participants per country over the years
numberofparticipants=athletes.loc[athletes['edition']>'1990']
numbergroup=numberofparticipants.groupby('country_noc')['athlete'].count().reset_index()
numbergroup

    country_noc  athlete
0           AFG       25
1           AHO       29
2           ALB       83
3           ALG      450
4           AND      151
..          ...      ...
210         VIN       41
211         YEM       40
212         YUG       60
213         ZAM       86
214         ZIM      157

[215 rows x 2 columns]