In [1]:
import pandas as pd

In [135]:
df_Games = pd.read_csv('Group-Project-1/files/Olympics_Games.csv')
df_Games

,edition,edition_id,edition_url,year,city,country_flag_url,country_noc,start_date,end_date,competition_date,isHeld
0,1896 Summer Olympics,1,/editions/1,1896,Athina,https://olympedia-flags.s3.eu-central-1.amazon...,GRE,6 April,15 April,6 – 13 April,NaN
1,1900 Summer Olympics,2,/editions/2,1900,Paris,https://olympedia-flags.s3.eu-central-1.amazon...,FRA,NaN,NaN,14 May – 28 October,NaN
2,1904 Summer Olympics,3,/editions/3,1904,St. Louis,https://olympedia-flags.s3.eu-central-1.amazon...,USA,14 May,NaN,1 July – 26 November,NaN
3,1908 Summer Olympics,5,/editions/5,1908,London,https://olympedia-flags.s3.eu-central-1.amazon...,GBR,13 July,25 July,27 April – 31 October,NaN
4,1912 Summer Olympics,6,/editions/6,1912,Stockholm,https://olympedia-flags.s3.eu-central-1.amazon...,SWE,6 July,15 July,5 May – 27 July,NaN
...,...,...,...,...,...,...,...,...,...,...,...
59,2018 Winter Olympics,60,/editions/60,2018,PyeongChang,https://olympedia-flags.s3.eu-central-1.amazon...,KOR,9 February,25 February,8 – 25 February,NaN
60,2022 Winter Olympics,62,/editions/62,2022,Beijing,https://olympedia-flags.s3.eu-central-1.amazon...,CHN,4 February,20 February,2 – 20 February,NaN
61,2026 Winter Olympics,72,/editions/72,2026,Milano-Cortina d'Ampezzo,https://olympedia-flags.s3.eu-central-1.amazon...,ITA,6 February,22 February,4 – 22 February,NaN
62,1956 Equestrian,48,/editions/48,1956,Stockholm,https://olympedia-flags.s3.eu-central-1.amazon...,SWE,10 June,17 June,11 – 17 June,NaN
63,1906 Intercalated,4,/editions/4,1906,Athina,https://olympedia-flags.s3.eu-central-1.amazon...,GRE,22 April,2 May,22 April – 2 May,NaN

In [129]:
#create new dataframe for summer olympics games only
summer_olympics_df = df_Games[df_Games['edition'].str.contains('Summer Olympics')]
summer_olympics_df

,edition,edition_id,edition_url,year,city,country_flag_url,country_noc,start_date,end_date,competition_date,isHeld
0,1896 Summer Olympics,1,/editions/1,1896,Athina,https://olympedia-flags.s3.eu-central-1.amazon...,GRE,6 April,15 April,6 – 13 April,NaN
1,1900 Summer Olympics,2,/editions/2,1900,Paris,https://olympedia-flags.s3.eu-central-1.amazon...,FRA,NaN,NaN,14 May – 28 October,NaN
2,1904 Summer Olympics,3,/editions/3,1904,St. Louis,https://olympedia-flags.s3.eu-central-1.amazon...,USA,14 May,NaN,1 July – 26 November,NaN
3,1908 Summer Olympics,5,/editions/5,1908,London,https://olympedia-flags.s3.eu-central-1.amazon...,GBR,13 July,25 July,27 April – 31 October,NaN
4,1912 Summer Olympics,6,/editions/6,1912,Stockholm,https://olympedia-flags.s3.eu-central-1.amazon...,SWE,6 July,15 July,5 May – 27 July,NaN
5,1916 Summer Olympics,50,/editions/50,1916,Berlin,https://olympedia-flags.s3.eu-central-1.amazon...,GER,NaN,NaN,—,Not held due to war
6,1920 Summer Olympics,7,/editions/7,1920,Antwerpen,https://olympedia-flags.s3.eu-central-1.amazon...,BEL,14 August,30 August,23 April – 12 September,NaN
7,1924 Summer Olympics,8,/editions/8,1924,Paris,https://olympedia-flags.s3.eu-central-1.amazon...,FRA,5 July,27 July,4 May – 27 July,NaN
8,1928 Summer Olympics,9,/editions/9,1928,Amsterdam,https://olympedia-flags.s3.eu-central-1.amazon...,NED,28 July,12 August,17 May – 12 August,NaN
9,1932 Summer Olympics,10,/editions/10,1932,Los Angeles,https://olympedia-flags.s3.eu-central-1.amazon...,USA,30 July,14 August,30 July – 14 August,NaN
10,1936 Summer Olympics,11,/editions/11,1936,Berlin,https://olympedia-flags.s3.eu-central-1.amazon...,GER,1 August,16 August,1 – 16 August,NaN
11,1940 Summer Olympics,51,/editions/51,1940,Helsinki,https://olympedia-flags.s3.eu-central-1.amazon...,FIN,NaN,NaN,—,Not held due to war
12,1944 Summer Olympics,52,/editions/52,1944,London,https://olympedia-flags.s3.eu-central-1.amazon...,GBR,NaN,NaN,—,Not held due to war
13,1948 Summer Olympics,12,/editions/12,1948,London,https://olympedia-flags.s3.eu-central-1.amazon...,GBR,29 July,14 August,26 July – 14 August,NaN
14,1952 Summer Olympics,13,/editions/13,1952,Helsinki,https://olympedia-flags.s3.eu-central-1.amazon...,FIN,19 July,3 August,14 July – 3 August,NaN
15,1956 Summer Olympics,14,/editions/14,1956,Melbourne,https://olympedia-flags.s3.eu-central-1.amazon...,AUS,22 November,8 December,22 November – 8 December,NaN
16,1960 Summer Olympics,15,/editions/15,1960,Roma,https://olympedia-flags.s3.eu-central-1.amazon...,ITA,25 August,11 September,25 August – 11 September,NaN
17,1964 Summer Olympics,16,/editions/16,1964,Tokyo,https://olympedia-flags.s3.eu-central-1.amazon...,JPN,10 October,24 October,11 – 24 October,NaN
18,1968 Summer Olympics,17,/editions/17,1968,Ciudad de México,https://olympedia-flags.s3.eu-central-1.amazon...,MEX,12 October,27 October,12 – 27 October,NaN
19,1972 Summer Olympics,18,/editions/18,1972,München,https://olympedia-flags.s3.eu-central-1.amazon...,FRG,26 August,11 September,26 August – 11 September,NaN

In [133]:
#create new dataframe for winter olympics games only
winter_olympics_df = df_Games[df_Games['edition'].str.contains('Winter Olympics')]
winter_olympics_df.head(20)

,edition,edition_id,edition_url,year,city,country_flag_url,country_noc,start_date,end_date,competition_date,isHeld
35,1924 Winter Olympics,29,/editions/29,1924,Chamonix,https://olympedia-flags.s3.eu-central-1.amazon...,FRA,24 January,5 February,26 January – 4 February,NaN
36,1928 Winter Olympics,30,/editions/30,1928,Sankt Moritz,https://olympedia-flags.s3.eu-central-1.amazon...,SUI,11 February,17 February,11 – 19 February,NaN
37,1932 Winter Olympics,31,/editions/31,1932,Lake Placid,https://olympedia-flags.s3.eu-central-1.amazon...,USA,4 February,13 February,4 – 15 February,NaN
38,1936 Winter Olympics,32,/editions/32,1936,Garmisch-Partenkirchen,https://olympedia-flags.s3.eu-central-1.amazon...,GER,6 February,16 February,6 – 16 February,NaN
39,1940 Winter Olympics,55,/editions/55,1940,Garmisch-Partenkirchen,https://olympedia-flags.s3.eu-central-1.amazon...,GER,NaN,NaN,—,Not held due to war
40,1944 Winter Olympics,56,/editions/56,1944,Cortina d'Ampezzo,https://olympedia-flags.s3.eu-central-1.amazon...,ITA,NaN,NaN,—,Not held due to war
41,1948 Winter Olympics,33,/editions/33,1948,Sankt Moritz,https://olympedia-flags.s3.eu-central-1.amazon...,SUI,30 January,8 February,30 January – 8 February,NaN
42,1952 Winter Olympics,34,/editions/34,1952,Oslo,https://olympedia-flags.s3.eu-central-1.amazon...,NOR,15 February,25 February,14 – 25 February,NaN
43,1956 Winter Olympics,35,/editions/35,1956,Cortina d'Ampezzo,https://olympedia-flags.s3.eu-central-1.amazon...,ITA,26 January,5 February,26 January – 5 February,NaN
44,1960 Winter Olympics,36,/editions/36,1960,Squaw Valley,https://olympedia-flags.s3.eu-central-1.amazon...,USA,18 February,28 February,19 – 28 February,NaN
45,1964 Winter Olympics,37,/editions/37,1964,Innsbruck,https://olympedia-flags.s3.eu-central-1.amazon...,AUT,29 January,9 February,27 January – 9 February,NaN
46,1968 Winter Olympics,38,/editions/38,1968,Grenoble,https://olympedia-flags.s3.eu-central-1.amazon...,FRA,6 February,18 February,4 – 18 February,NaN
47,1972 Winter Olympics,39,/editions/39,1972,Sapporo,https://olympedia-flags.s3.eu-central-1.amazon...,JPN,3 February,13 February,3 – 13 February,NaN
48,1976 Winter Olympics,40,/editions/40,1976,Innsbruck,https://olympedia-flags.s3.eu-central-1.amazon...,AUT,4 February,15 February,3 – 15 February,NaN
49,1980 Winter Olympics,41,/editions/41,1980,Lake Placid,https://olympedia-flags.s3.eu-central-1.amazon...,USA,13 February,24 February,12 – 24 February,NaN
50,1984 Winter Olympics,42,/editions/42,1984,Sarajevo,https://olympedia-flags.s3.eu-central-1.amazon...,YUG,8 February,19 February,7 – 19 February,NaN
51,1988 Winter Olympics,43,/editions/43,1988,Calgary,https://olympedia-flags.s3.eu-central-1.amazon...,CAN,13 February,28 February,13 – 28 February,NaN
52,1992 Winter Olympics,44,/editions/44,1992,Albertville,https://olympedia-flags.s3.eu-central-1.amazon...,FRA,8 February,23 February,8 – 23 February,NaN
53,1994 Winter Olympics,45,/editions/45,1994,Lillehammer,https://olympedia-flags.s3.eu-central-1.amazon...,NOR,12 February,27 February,12 – 27 February,NaN
54,1998 Winter Olympics,46,/editions/46,1998,Nagano,https://olympedia-flags.s3.eu-central-1.amazon...,JPN,7 February,22 February,7 – 22 February,NaN

In [137]:
df_country = pd.read_csv('Group-Project-1/files/Olympics_Country.csv')
df_country.shape

(235, 2)

In [141]:
df_results = pd.read_csv('Group-Project-1/files/Olympic_Results.csv')
df_results.head()

,result_id,event_title,edition,edition_id,sport,sport_url,result_date,result_location,result_participants,result_format,result_detail,result_description
0,30359,"Super-Heavyweight (>105 kilograms), Men",2004 Summer Olympics,26,Weightlifting,/editions/26/sports/WLF,"25 August 2004 — 16:30 (B), 20:00 (A)","Olympiako Gymnastirio Arsis Varon Nikaias, Nikaia",17 from 15 countries,Total of best lifts in snatch and clean & jerk...,na,"Not so much a competition as a coronation, the..."
1,1626,"Giant Slalom, Women1",1998 Winter Olympics,46,Snowboarding,/editions/46/sports/SBD,9 February 1998,"Mt. Yakebitai, Shiga Kogen, Yamanouchi",31 from 14 countries,"Two runs, total time determined placement.",Gates: 38 / 36Length: 936 mStart Altitude: 196...,The women’s giant slalom was postponed one day...
2,76,"Singles, Men",1976 Winter Olympics,40,Luge,/editions/40/sports/LUG,4 – 7 February 1976,"Kunsteis-Bob- und Rodelbahn, Igls",43 from 15 countries,"Four runs, total time determined placement.",Curves: 14Length: 1220 mStart Altitude: ?Verti...,"Once more, the competitors from East and West ..."
3,962,"1,500 metres, Men",1928 Winter Olympics,30,Speed Skating,/editions/30/sports/SSK,14 February 1928 — 9:00,"Olympia-Eisstadion Badrutts Park, St. Moritz",30 from 14 countries,na,na,There was little doubt that the Olympic 1500 m...
4,258824,"Canadian Singles, Slalom, Men",2008 Summer Olympics,53,Canoe Slalom,/editions/53/sports/CSL,11 – 12 August 2008,"Shunyi Aolinpike Shuishang Gongyuan, Mapo, Shunyi",16 from 16 countries,na,na,Two former Olympic champions in the C-1 slalom...

In [ ]:
df_results['sport'].unique()

In [145]:
df_tally = pd.read_csv('Group-Project-1/files/Olympic_Games_Medal_Tally.csv')
df_tally.head(20)

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
0,1896 Summer Olympics,1,1896,United States,USA,11,7,2,20
1,1896 Summer Olympics,1,1896,Greece,GRE,10,18,19,47
2,1896 Summer Olympics,1,1896,Germany,GER,6,5,2,13
3,1896 Summer Olympics,1,1896,France,FRA,5,4,2,11
4,1896 Summer Olympics,1,1896,Great Britain,GBR,2,3,2,7
5,1896 Summer Olympics,1,1896,Hungary,HUN,2,1,3,6
6,1896 Summer Olympics,1,1896,Austria,AUT,2,1,2,5
7,1896 Summer Olympics,1,1896,Australia,AUS,2,0,0,2
8,1896 Summer Olympics,1,1896,Denmark,DEN,1,2,3,6
9,1896 Summer Olympics,1,1896,Switzerland,SUI,1,2,0,3
10,1896 Summer Olympics,1,1896,Mixed team,MIX,1,0,1,2
11,1900 Summer Olympics,2,1900,France,FRA,31,41,40,112
12,1900 Summer Olympics,2,1900,United States,USA,20,13,15,48
13,1900 Summer Olympics,2,1900,Great Britain,GBR,20,8,9,37
14,1900 Summer Olympics,2,1900,Belgium,BEL,6,6,6,18
15,1900 Summer Olympics,2,1900,Switzerland,SUI,6,3,1,10
16,1900 Summer Olympics,2,1900,Germany,GER,4,3,2,9
17,1900 Summer Olympics,2,1900,Italy,ITA,3,2,0,5
18,1900 Summer Olympics,2,1900,Denmark,DEN,1,3,2,6
19,1900 Summer Olympics,2,1900,Mixed team,MIX,1,2,3,6

In [69]:
country_counts = df_tally.groupby('edition')['country'].nunique().reset_index()
country_counts.columns = ['edition', 'country_count']
sorted_country_counts = country_counts.sort_values(by='edition', ascending=True)
print(sorted_country_counts)

                 edition  country_count
0   1896 Summer Olympics             11
1   1900 Summer Olympics             19
2   1904 Summer Olympics              8
3      1906 Intercalated             18
4   1908 Summer Olympics             19
5   1912 Summer Olympics             19
6   1920 Summer Olympics             22
7   1924 Summer Olympics             31
8   1924 Winter Olympics             11
9   1928 Summer Olympics             34
10  1928 Winter Olympics             12
11  1932 Summer Olympics             28
12  1932 Winter Olympics             10
13  1936 Summer Olympics             32
14  1936 Winter Olympics             11
15  1948 Summer Olympics             38
16  1948 Winter Olympics             13
17  1952 Summer Olympics             43
18  1952 Winter Olympics             13
19       1956 Equestrian              7
20  1956 Summer Olympics             37
21  1956 Winter Olympics             13
22  1960 Summer Olympics             44
23  1960 Winter Olympics             14
24  1964 Summer Olympics             41
25  1964 Winter Olympics             14
26  1968 Summer Olympics             44
27  1968 Winter Olympics             15
28  1972 Summer Olympics             48
29  1972 Winter Olympics             17
30  1976 Summer Olympics             41
31  1976 Winter Olympics             16
32  1980 Summer Olympics             36
33  1980 Winter Olympics             19
34  1984 Summer Olympics             47
35  1984 Winter Olympics             17
36  1988 Summer Olympics             52
37  1988 Winter Olympics             17
38  1992 Summer Olympics             64
39  1992 Winter Olympics             20
40  1994 Winter Olympics             22
41  1996 Summer Olympics             79
42  1998 Winter Olympics             24
43  2000 Summer Olympics             80
44  2002 Winter Olympics             24
45  2004 Summer Olympics             74
46  2006 Winter Olympics             26
47  2008 Summer Olympics             87
48  2010 Winter Olympics             26
49  2012 Summer Olympics             86
50  2014 Winter Olympics             26
51  2016 Summer Olympics             86
52  2018 Winter Olympics             30
53  2020 Summer Olympics             93
54  2022 Winter Olympics             29

In [43]:
df_tally[df_tally['edition']=="1904 Summer Olympics"]['country'].nunique()

8

In [ ]:
df_tally[df_tally['country_noc']=="USA"]

In [47]:
df_tally['edition'].nunique()

55

In [23]:
df_event_results = pd.read_csv('Group-Project-1/files/Olympic_Athlete_Event_Results.csv')
df_event_results

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
0,1908 Summer Olympics,5,ANZ,Athletics,"100 metres, Men",56265,Ernest Hutcheon,64710,DNS,NaN,False
1,1908 Summer Olympics,5,ANZ,Athletics,"400 metres, Men",56313,Henry Murray,64756,DNS,NaN,False
2,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Harvey Sutton,64808,3 h8 r1/2,NaN,False
3,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Guy Haskins,922519,DNS,NaN,False
4,1908 Summer Olympics,5,ANZ,Athletics,"800 metres, Men",56338,Joseph Lynch,64735,DNS,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...
316829,2022 Winter Olympics,62,NED,Bobsleigh,"Monobob, Women",19019671,Karlien Sleper,148662,16,NaN,False
316830,2022 Winter Olympics,62,SVK,Bobsleigh,"Monobob, Women",19019671,Viktória Čerňanská,138683,17,NaN,False
316831,2022 Winter Olympics,62,KOR,Bobsleigh,"Monobob, Women",19019671,Kim Yu-Ran,137542,18,NaN,False
316832,2022 Winter Olympics,62,JAM,Bobsleigh,"Monobob, Women",19019671,Jazmine Fenlator-Victorian,128682,19,NaN,False
316833,2022 Winter Olympics,62,UKR,Bobsleigh,"Monobob, Women",19019671,Lidiya Hunko,149047,20,NaN,False

In [121]:
df_event_results[df_event_results['edition_id']==38].head(50)

,edition,edition_id,country_noc,sport,event,result_id,athlete,athlete_id,pos,medal,isTeamSport
14253,1968 Winter Olympics,38,CHI,Alpine Skiing,"Downhill, Men",1238,Mario Vera,98609,46,NaN,False
14254,1968 Winter Olympics,38,CHI,Alpine Skiing,"Downhill, Men",1238,Richard Leatherbee,89482,58,NaN,False
14255,1968 Winter Olympics,38,CHI,Alpine Skiing,"Downhill, Men",1238,Felipe Briones,84366,60,NaN,False
14256,1968 Winter Olympics,38,CHI,Alpine Skiing,"Downhill, Men",1238,Hernán Briones,1006148,DNS,NaN,False
14257,1968 Winter Olympics,38,CHI,Alpine Skiing,"Giant Slalom, Men",1239,Richard Leatherbee,89482,48,NaN,False
14258,1968 Winter Olympics,38,CHI,Alpine Skiing,"Giant Slalom, Men",1239,Mario Vera,98609,51,NaN,False
14259,1968 Winter Olympics,38,CHI,Alpine Skiing,"Giant Slalom, Men",1239,Felipe Briones,84366,66,NaN,False
14260,1968 Winter Olympics,38,CHI,Alpine Skiing,"Slalom, Men",1242,Richard Leatherbee,89482,AC r3/3,NaN,False
14261,1968 Winter Olympics,38,CHI,Alpine Skiing,"Slalom, Men",1242,Mario Vera,98609,2 h4 r2/3,NaN,False
14262,1968 Winter Olympics,38,CHI,Alpine Skiing,"Slalom, Men",1242,Felipe Briones,84366,AC h10 r2/3,NaN,False
14263,1968 Winter Olympics,38,CHI,Alpine Skiing,"Giant Slalom, Women",1283,Verena Vogt,82954,41,NaN,False
14264,1968 Winter Olympics,38,CHI,Alpine Skiing,"Slalom, Women",1284,Verena Vogt,82954,DNF,NaN,False
23251,1968 Winter Olympics,38,GDR,Alpine Skiing,"Downhill, Men",1238,Eberhard Riedel,96845,DNF,NaN,False
23252,1968 Winter Olympics,38,GDR,Alpine Skiing,"Giant Slalom, Men",1239,Eberhard Riedel,96845,41,NaN,False
23253,1968 Winter Olympics,38,GDR,Alpine Skiing,"Slalom, Men",1242,Eberhard Riedel,96845,13,NaN,False
23254,1968 Winter Olympics,38,GDR,Biathlon,"20 kilometres, Men",1517,Horst Koschka,88538,10,NaN,False
23255,1968 Winter Olympics,38,GDR,Biathlon,"20 kilometres, Men",1517,Dieter Speer,97720,18,NaN,False
23256,1968 Winter Olympics,38,GDR,Biathlon,"20 kilometres, Men",1517,Hansjörg Knauthe,88058,21,NaN,False
23257,1968 Winter Olympics,38,GDR,Biathlon,"20 kilometres, Men",1517,Heinz Kluge,88050,24,NaN,False
23258,1968 Winter Olympics,38,GDR,Biathlon,"4 × 7.5 kilometres Relay, Men",1518,Heinz Kluge,88050,6,NaN,True
23259,1968 Winter Olympics,38,GDR,Biathlon,"4 × 7.5 kilometres Relay, Men",1518,Hans-Gert Jahn,87434,6,NaN,True
23260,1968 Winter Olympics,38,GDR,Biathlon,"4 × 7.5 kilometres Relay, Men",1518,Horst Koschka,88538,6,NaN,True
23261,1968 Winter Olympics,38,GDR,Biathlon,"4 × 7.5 kilometres Relay, Men",1518,Dieter Speer,97720,6,NaN,True
23262,1968 Winter Olympics,38,GDR,Cross Country Skiing,"15 kilometres, Men",1948,Gerhard Grimmer,86231,29,NaN,False
23263,1968 Winter Olympics,38,GDR,Cross Country Skiing,"15 kilometres, Men",1948,Gert-Dietmar Klause,88016,33,NaN,False
23264,1968 Winter Olympics,38,GDR,Cross Country Skiing,"15 kilometres, Men",1948,Peter Thiel,98227,37,NaN,False
23265,1968 Winter Olympics,38,GDR,Cross Country Skiing,"15 kilometres, Men",1948,Axel Lesser,89581,DNF,NaN,False
23266,1968 Winter Olympics,38,GDR,Cross Country Skiing,"30 kilometres, Men",1949,Gerhard Grimmer,86231,15,NaN,False
23267,1968 Winter Olympics,38,GDR,Cross Country Skiing,"30 kilometres, Men",1949,Gert-Dietmar Klause,88016,19,NaN,False
23268,1968 Winter Olympics,38,GDR,Cross Country Skiing,"30 kilometres, Men",1949,Axel Lesser,89581,36,NaN,False
23269,1968 Winter Olympics,38,GDR,Cross Country Skiing,"30 kilometres, Men",1949,Helmut Unger,98482,37,NaN,False
23270,1968 Winter Olympics,38,GDR,Cross Country Skiing,"50 kilometres, Men",1950,Gert-Dietmar Klause,88016,25,NaN,False
23271,1968 Winter Olympics,38,GDR,Cross Country Skiing,"50 kilometres, Men",1950,Gerhard Grimmer,86231,DNS,NaN,False
23272,1968 Winter Olympics,38,GDR,Cross Country Skiing,"50 kilometres, Men",1950,Peter Thiel,98227,DNS,NaN,False
23273,1968 Winter Olympics,38,GDR,Cross Country Skiing,"50 kilometres, Men",1950,Helmut Unger,98482,DNS,NaN,False
23274,1968 Winter Olympics,38,GDR,Cross Country Skiing,"4 × 10 kilometres Relay, Men",1951,Gerhard Grimmer,86231,7,NaN,True
23275,1968 Winter Olympics,38,GDR,Cross Country Skiing,"4 × 10 kilometres Relay, Men",1951,Axel Lesser,89581,7,NaN,True
23276,1968 Winter Olympics,38,GDR,Cross Country Skiing,"4 × 10 kilometres Relay, Men",1951,Peter Thiel,98227,7,NaN,True
23277,1968 Winter Olympics,38,GDR,Cross Country Skiing,"4 × 10 kilometres Relay, Men",1951,Gert-Dietmar Klause,88016,7,NaN,True
23278,1968 Winter Olympics,38,GDR,Cross Country Skiing,"5 kilometres, Women",1955,Christine Nestler,81922,12,NaN,False
23279,1968 Winter Olympics,38,GDR,Cross Country Skiing,"5 kilometres, Women",1955,Gudrun Schmidt,82301,13,NaN,False
23280,1968 Winter Olympics,38,GDR,Cross Country Skiing,"5 kilometres, Women",1955,Renate Köhler,81603,14,NaN,False
23281,1968 Winter Olympics,38,GDR,Cross Country Skiing,"5 kilometres, Women",1955,Anni Unger,82909,16,NaN,False
23282,1968 Winter Olympics,38,GDR,Cross Country Skiing,"10 kilometres, Women",1956,Christine Nestler,81922,9,NaN,False
23283,1968 Winter Olympics,38,GDR,Cross Country Skiing,"10 kilometres, Women",1956,Gudrun Schmidt,82301,14,NaN,False
23284,1968 Winter Olympics,38,GDR,Cross Country Skiing,"10 kilometres, Women",1956,Renate Köhler,81603,16,NaN,False
23285,1968 Winter Olympics,38,GDR,Cross Country Skiing,"10 kilometres, Women",1956,Anni Unger,82909,22,NaN,False
23286,1968 Winter Olympics,38,GDR,Cross Country Skiing,"3 × 5 kilometres Relay, Women",1957,Renate Köhler,81603,6,NaN,True
23287,1968 Winter Olympics,38,GDR,Cross Country Skiing,"3 × 5 kilometres Relay, Women",1957,Gudrun Schmidt,82301,6,NaN,True
23288,1968 Winter Olympics,38,GDR,Cross Country Skiing,"3 × 5 kilometres Relay, Women",1957,Christine Nestler,81922,6,NaN,True

In [49]:
df_bios = pd.read_csv('Group-Project-1/files/Olympic_Athlete_Bio.csv')
df_bios

,athlete_id,name,sex,born,height,weight,country,country_noc,description,special_notes
0,65649,Ivanka Bonova,Female,4 April 1949,166.0,55,Bulgaria,BUL,Personal Best: 400 – 53.54 (1980).,NaN
1,112510,Nataliya Uryadova,Female,15 March 1977,184.0,70,Russian Federation,RUS,NaN,Listed in Olympians Who Won a Medal at the Eur...
2,114973,Essa Ismail Rashed,Male,14 December 1986,165.0,55,Qatar,QAT,Personal Best: 10000 – 27:20.97 (2006).,Listed in Olympians Who Won a Medal at the Asi...
3,30359,Péter Boros,Male,12 January 1908,NaN,NaN,Hungary,HUN,"Between 1927 and 1938, Péter Boros competed as...",NaN
4,50557,Rudolf Piowatý,Male,28 April 1900,NaN,NaN,Czechoslovakia,TCH,Rudolf Piowaty joined the Czechoslovak militar...,NaN
...,...,...,...,...,...,...,...,...,...,...
155856,23748,Todd Makler,Male,8 January 1946,183.0,75,United States,USA,"Todd Makler grew up in suburban Philadelphia, ...","Brother of Brooke Makler Son of Paul Makler, Sr."
155857,58581,Géza Hollósi,Male,2 May 1938,175.0,79,Hungary,HUN,Géza Hollósi had the following finishes at maj...,NaN
155858,30387,József Keresztessy,Male,19 September 1885,NaN,NaN,Hungary,HUN,József Keresztessy was the grandson of József ...,NaN
155859,69900,Alexander Thieme,Male,13 January 1954,187.0,84,East Germany,GDR,East German Sprinter Alexander Thieme reached ...,Listed in Olympians Who Won a Medal at the Eur...
155860,74003,Sunday Bada,Male,22 June 1969,188.0,79,Nigeria,NGR,Sunday Bada was a top Nigerian one-lap runner ...,Listed in Olympians Who Won a Medal at the Wor...

In [ ]:
df_bios.isnull().sum()

In [ ]:
df_bios.shape

In [71]:
df_tally

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
0,1896 Summer Olympics,1,1896,United States,USA,11,7,2,20
1,1896 Summer Olympics,1,1896,Greece,GRE,10,18,19,47
2,1896 Summer Olympics,1,1896,Germany,GER,6,5,2,13
3,1896 Summer Olympics,1,1896,France,FRA,5,4,2,11
4,1896 Summer Olympics,1,1896,Great Britain,GBR,2,3,2,7
...,...,...,...,...,...,...,...,...,...
1802,1906 Intercalated,4,1906,Canada,CAN,1,1,0,2
1803,1906 Intercalated,4,1906,Norway,NOR,1,1,0,2
1804,1906 Intercalated,4,1906,Netherlands,NED,0,1,2,3
1805,1906 Intercalated,4,1906,Australia,AUS,0,0,3,3
1806,1906 Intercalated,4,1906,Bohemia,BOH,0,0,2,2

In [ ]:
df_tally[df_tally['edition_id']=='']