In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#create relevant dataframes for analysis:

#dataframe showing country codes
df_country = pd.read_csv('files/Olympics_Country.csv')

#dataframe showing all the Summer Games info
df_games = pd.read_csv('files/Olympics_Games.csv')
df_games_summer =df_games.loc[df_games['edition'].str.contains('Summer')]

# data base of medal tally for all olympic games, from 1896 to 2020
df_tally = pd.read_csv('files/Olympic_Games_Medal_Tally.csv')

In [3]:
df_country

     noc                    country
0    AFG                Afghanistan
1    ALB                    Albania
2    ALG                    Algeria
3    ASA             American Samoa
4    AND                    Andorra
..   ...                        ...
230  YEM                      Yemen
231  YUG                 Yugoslavia
232  ZAM                     Zambia
233  ZIM                   Zimbabwe
234  ROC  Russian Olympic Committee

[235 rows x 2 columns]

In [4]:
#identify host countries for all the Summer Games
df_games_summer =df_games_summer.drop(["edition_id","edition_url",'country_flag_url','start_date','end_date', 'competition_date'],axis=1)
df_games_summer = df_games_summer.rename(columns = {'country_noc':'noc','city': 'host city'})

#add a column of hose country names by merging with df_country dataset
df_games_summer = pd.merge(df_games_summer, df_country, on="noc", how="left")

#rename and reorder the dataset to be more easily understandable
df_games_summer = df_games_summer.rename(columns = {'country':'host country'})
columns = ['edition', 'year','host city', 'host country','noc', 'isHeld']
df_games_summer = df_games_summer[columns]

df_games_summer

,edition,year,host city,host country,noc,isHeld
0,1896 Summer Olympics,1896,Athina,Greece,GRE,NaN
1,1900 Summer Olympics,1900,Paris,France,FRA,NaN
2,1904 Summer Olympics,1904,St. Louis,United States,USA,NaN
3,1908 Summer Olympics,1908,London,Great Britain,GBR,NaN
4,1912 Summer Olympics,1912,Stockholm,Sweden,SWE,NaN
5,1916 Summer Olympics,1916,Berlin,Germany,GER,Not held due to war
6,1920 Summer Olympics,1920,Antwerpen,Belgium,BEL,NaN
7,1924 Summer Olympics,1924,Paris,France,FRA,NaN
8,1928 Summer Olympics,1928,Amsterdam,Netherlands,NED,NaN
9,1932 Summer Olympics,1932,Los Angeles,United States,USA,NaN
10,1936 Summer Olympics,1936,Berlin,Germany,GER,NaN
11,1940 Summer Olympics,1940,Helsinki,Finland,FIN,Not held due to war
12,1944 Summer Olympics,1944,London,Great Britain,GBR,Not held due to war
13,1948 Summer Olympics,1948,London,Great Britain,GBR,NaN
14,1952 Summer Olympics,1952,Helsinki,Finland,FIN,NaN
15,1956 Summer Olympics,1956,Melbourne,Australia,AUS,NaN
16,1960 Summer Olympics,1960,Roma,Italy,ITA,NaN
17,1964 Summer Olympics,1964,Tokyo,Japan,JPN,NaN
18,1968 Summer Olympics,1968,Ciudad de México,Mexico,MEX,NaN
19,1972 Summer Olympics,1972,München,West Germany,FRG,NaN
20,1976 Summer Olympics,1976,Montréal,Canada,CAN,NaN
21,1980 Summer Olympics,1980,Moskva,Soviet Union,URS,NaN
22,1984 Summer Olympics,1984,Los Angeles,United States,USA,NaN
23,1988 Summer Olympics,1988,Seoul,Republic of Korea,KOR,NaN
24,1992 Summer Olympics,1992,Barcelona,Spain,ESP,NaN
25,1996 Summer Olympics,1996,Atlanta,United States,USA,NaN
26,2000 Summer Olympics,2000,Sydney,Australia,AUS,NaN
27,2004 Summer Olympics,2004,Athina,Greece,GRE,NaN
28,2008 Summer Olympics,2008,Beijing,People's Republic of China,CHN,NaN
29,2012 Summer Olympics,2012,London,Great Britain,GBR,NaN
30,2016 Summer Olympics,2016,Rio de Janeiro,Brazil,BRA,NaN
31,2020 Summer Olympics,2020,Tokyo,Japan,JPN,NaN
32,2024 Summer Olympics,2024,Paris,France,FRA,NaN
33,2028 Summer Olympics,2028,Los Angeles,United States,USA,NaN
34,2032 Summer Olympics,2032,Brisbane,Australia,AUS,NaN

In [5]:
#Identify countries that hosted the most number of Summer Games
df_host_country_summer=df_games_summer[['edition','host country']]
df_host_country_summer['host country'].value_counts()

host country
United States                 5
Great Britain                 4
Australia                     3
France                        3
Greece                        2
Germany                       2
Finland                       2
Japan                         2
Canada                        1
People's Republic of China    1
Spain                         1
Republic of Korea             1
Soviet Union                  1
Italy                         1
West Germany                  1
Mexico                        1
Netherlands                   1
Belgium                       1
Sweden                        1
Brazil                        1
Name: count, dtype: int64

In [6]:
df_host_country_summer.describe()

                     edition   host country
count                     35             35
unique                    35             20
top     1896 Summer Olympics  United States
freq                       1              5

In [7]:
print(f"There have been 35 Summmer Olympic Games held frm 1896 to 2024")
print(f"The 35 Summer Games have been hosted by 20 different countries")

There have been 35 Summmer Olympic Games held frm 1896 to 2024
The 35 Summer Games have been hosted by 20 different countries

In [12]:
# Focus on metal tally for all Summer Olympic Games only, from 1896 to 2020
summer_tally =  df_tally[df_tally['edition'].str.contains('Summer')]
summer_tally

,edition,edition_id,year,country,country_noc,gold,silver,bronze,total
0,1896 Summer Olympics,1,1896,United States,USA,11,7,2,20
1,1896 Summer Olympics,1,1896,Greece,GRE,10,18,19,47
2,1896 Summer Olympics,1,1896,Germany,GER,6,5,2,13
3,1896 Summer Olympics,1,1896,France,FRA,5,4,2,11
4,1896 Summer Olympics,1,1896,Great Britain,GBR,2,3,2,7
...,...,...,...,...,...,...,...,...,...
1338,2020 Summer Olympics,61,2020,Ghana,GHA,0,0,1,1
1339,2020 Summer Olympics,61,2020,Grenada,GRN,0,0,1,1
1340,2020 Summer Olympics,61,2020,Kuwait,KUW,0,0,1,1
1341,2020 Summer Olympics,61,2020,Republic of Moldova,MDA,0,0,1,1
1342,2020 Summer Olympics,61,2020,Syrian Arab Republic,SYR,0,0,1,1

In [18]:
#calculate total medals by year
total_medals_by_year = summer_tally.groupby('year')[['gold','silver','bronze','total']].sum().reset_index()
total_medals_by_year = total_medals_by_year.rename(columns={'total':'total full game'})
total_medals_by_year
#merge total medal counts to summer_tally dataframe
summer_tally = pd.merge(summer_tally, total_medals_by_year['total_country'])

    year  gold  silver  bronze  total full game
0   1896    43      43      36              122
1   1900    96      94      94              284
2   1904    97      92      91              280
3   1908   110     107     107              324
4   1912   106     107     104              317
5   1920   158     152     139              449
6   1924   129     132     131              392
7   1928   119     118     119              356
8   1932   125     125     120              370
9   1936   141     140     141              422
10  1948   146     146     151              443
11  1952   149     152     158              459
12  1956   147     147     157              451
13  1960   152     149     160              461
14  1964   163     167     174              504
15  1968   174     170     183              527
16  1972   195     195     210              600
17  1976   198     199     216              613
18  1980   204     204     223              631
19  1984   226     219     243              688
20  1988   241     234     264              739
21  1992   260     257     298              815
22  1996   271     273     298              842
23  2000   300     300     327              927
24  2004   301     300     325              926
25  2008   302     303     353              958
26  2012   303     304     353              960
27  2016   306     307     359              972
28  2020   340     338     402             1080

In [ ]:
#create a metal tally for USA only for Summer Olympics Gamees
USA_summer_tally = summer_tally[summer_tally['country_noc']=="USA"]
USA_summer_tally

In [ ]:
#What are the USA metal counts by type over the years
plt.figure(figsize=(14, 8))
plt.bar(USA_summer_tally['year'], USA_summer_tally['gold'], label='Gold', color='gold')
plt.bar(USA_summer_tally['year'], USA_summer_tally['silver'], bottom=USA_summer_tally['gold'], label='Silver', color='silver')
plt.bar(USA_summer_tally['year'], USA_summer_tally['bronze'], bottom=USA_summer_tally['gold'] + USA_summer_tally['silver'], label='Bronze', color='#cd7f32')

plt.title('Proportion of Medal Types Across the Years (USA)')
plt.xlabel('Year')
plt.ylabel('Number of Medals')
plt.legend(loc='upper right')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# number of metals USA has won in each of the summer games
USA_summer_medal_trend = summer_tally[summer_tally['country'] == 'United States'].set_index('year')['total']
USA_summer_medal_trend

In [ ]:
# Trend of US metal in summer Olympics over time
USA_summer_medal_trend.plot(kind='line', marker='o', figsize=(12, 6), title='United States Medal Trend Over Time in Summer Olympics', ylabel='Total Medals', xlabel='Year')
# need to get the relative share of USA metal compare to all

In [ ]:
#how many Summer games did each of these countries held?
host_country_summer = df_games_summer['noc'].value_counts()
host_country_summer

In [ ]:
#create a new dataset focusing on the top 8 countries that hosted the summer games the most 
top_summer_hosts = ['USA','GBR','AUS','FRA','GRE',"GER",'FIN','JPN']
top_summer_hosts_tally = df_tally[df_tally['country_noc'].isin(top_summer_hosts)]
top_summer_hosts_tally.head(50)

In [ ]:
summer_tally[summer_tally['country'] == 'United States'].set_index('year')['total'].plot(figsize=(12,6),label="USA")
summer_tally[summer_tally['country'] == 'Great Britain'].set_index('year')['total'].plot(label="Great Britain")
summer_tally[summer_tally['country'] == 'Australia'].set_index('year')['total'].plot(label="Australia")
summer_tally[summer_tally['country'] == 'France'].set_index('year')['total'].plot(label="France")
summer_tally[summer_tally['country'] == 'Greece'].set_index('year')['total'].plot(label="Greece")
summer_tally[summer_tally['country'] == 'Germany'].set_index('year')['total'].plot(label="Germany")
summer_tally[summer_tally['country'] == 'Finland'].set_index('year')['total'].plot(label="Finland")
summer_tally[summer_tally['country'] == 'Japan'].set_index('year')['total'].plot(label="Japan")
plt.legend(loc="best")
#add % of medal count relative to total medal counts

In [ ]:
df_tally